POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=booru
POSTGRES_PASSWORD=booru
POSTGRES_DB=booru

MINIO_ROOT_USER=minio
MINIO_ROOT_PASSWORD=minio123
MINIO_BUCKET=boorubucket
MINIO_PREVIEW_BUCKET=previews
MINIO_INTERNAL_ENDPOINT=minio:9000
MINIO_PUBLIC_HOST=localhost:9000
MINIO_PUBLIC_PREFIX=/minio
BLEVE_PATH=/data/bleve
MINIO_SSL=false
